/* 1. Keadaan awal (Transparan) */
        .fade {
            opacity: 0;
            transition: 1.0s ease-in; 
            
            font-family: Arial, sans-serif;
            line-height: 1.6;
            padding: 20px;
            transform: translateY(50px);
        }

        .tampil {
            opacity: 1;
            transform: translateY(0);
        }